@import 'helpers/vars';
@import 'helpers/mixins';

#category{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 125px;
    padding-bottom: 50px;
}


